<!--
AppBar - Бар наверху экрана с быстрыми действиями
-->

<template>
  <v-app-bar
    fixed
    hide-on-scroll
    dark
    color="primary"
  >
    <v-app-bar-nav-icon
      @click="onNavClick"
    />

    <v-toolbar-title>
      <v-icon>mdi-alpha-a-box-outline</v-icon>
      <v-icon>mdi-alpha-d</v-icon>
      <v-icon>mdi-alpha-v</v-icon>
      <v-icon>mdi-alpha-a</v-icon>
      <v-icon>mdi-alpha-e</v-icon>
      <v-icon>mdi-alpha-x</v-icon>
    </v-toolbar-title>

    <v-spacer/>

    <v-icon>mdi-cloud-check</v-icon>

  </v-app-bar>
</template>

<script lang="ts">
  import {Component, Emit, Vue} from 'vue-property-decorator'

  @Component
  export default class AppBar extends Vue {
    @Emit('navClick')
    emitNavClick() {
    }

    onNavClick() {
      this.emitNavClick()
    }
  }
</script>
