<template>
  <v-app>
    <v-content>

      <v-fade-transition>
        <router-view class="app-router"/>
      </v-fade-transition>

      <AppBar
        @navClick="onNavClick"
      />

      <AppSidePanel
        v-model="sidePanelShown"
      />

    </v-content>
  </v-app>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator'
  import AppBar from "@/components/AppBar/AppBar.vue";
  import AppSidePanel from "@/components/AppSidePanel/AppSidePanel.vue";

  @Component({
    components: {
      AppSidePanel,
      AppBar,
    }
  })
  export default class App extends Vue {
    sidePanelShown: boolean = false

    onNavClick() {
      this.sidePanelShown = !this.sidePanelShown
    }
  }
</script>

<style scoped lang="stylus">
  .app-router
    padding 80px 0 0 0
</style>
