<!--
AppSidePanel - Боковая панель приложения доступная из любого раздела
Позволяет переключаться между разделами приложения
-->

<template>
  <v-navigation-drawer
    :value="value"
    @input="onInput"
    temporary
    fixed
  >

    <!-- Список страниц сайта -->
    <v-list
      :value="[0]"
      nav
    >
      <v-list-item-group
        v-model="currentPageID"
        color="primary"
        mandatory
      >
        <v-list-item
          v-for="(link, i) in pages"
          :key="i"
          link
          @click="onListItemClick(link)"
        >
          <v-list-item-icon>
            <v-icon>{{link.icon}}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{link.text}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>

    <!-- Версия ПО -->
    <template v-slot:append>
      <v-footer>
        <v-spacer/>
        <v-btn
          class="font-weight-light"
          text
          href="https://gitlab.com/advaex/frontend"
          target="_blank"
        >
          Advaex &copy; {{new Date().getFullYear()}}
        </v-btn>
      </v-footer>
    </template>

  </v-navigation-drawer>
</template>

<script lang="ts">
  import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator'
  import {Route, RouterOptions} from "vue-router";

  // Описывает объект route ссылки на панели
  type PageItem = {
    icon: string
    text: string
    name: string
  }

  @Component
  export default class AppSidePanel extends Vue {

    @Prop(Boolean) readonly value!: boolean

    currentPageID: number = 0
    pages: PageItem[] = [
      {
        icon: 'mdi-file-search-outline',
        text: 'Общий анализ',
        name: 'Analysis'
      },
    ]

    // Проходим по всем страница и определяем какая из них текущая
    @Watch('$route', {immediate: true})
    watchRoute(route: Route) {
      this.pages.forEach((page, i) => {
        if (route.name === page.name) {
          this.currentPageID = i
        }
      })
    }

    @Emit('input')
    emitInput(val: boolean) {
      return val
    }

    onInput(val: boolean) {
      this.emitInput(val)
    }

    // Действие при клике на пункт страницы
    onListItemClick(link: PageItem) {
      if (this.$router.currentRoute.name != link.name) {
        this.$router.push({name: link.name})
      }
    }

  }
</script>

<style scoped lang="stylus">
</style>
